.logo {
    z-index: 2;
}

.admin-logo {
    margin-left: 4.5em;
    margin-top: 2em;
    position: relative;
}




.topbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 5.8rem 30rem 5.8rem;
    justify-content: space-between;
    width: auto;
    min-height: 400px;
}

.topbar-img {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 768px) {
    .topbar-img {
        /* min-width: auto; */
        max-height: auto;
    }
}

@media screen and (max-width: 600px) {

    .topbar {
        padding: 0 0 35px 0;
        justify-content: space-around;
        align-items: center;
    }
}

.toggle-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sun {
    width: 34px;
    height: auto;
    z-index: 2;
    margin: 1em;
}

.moon {
    width: 30px;
    height: auto;
    z-index: 2;
    margin: 1em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 67px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 5px;
    background-color: var(--green);
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--gray);
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
}



button {
    z-index: 2;
    position: relative;

}