.card-grid {
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    padding-bottom: 3.2rem;
    background-color: #F0EAD2;
    border-radius: 10px;
    width: 400px;
    min-height: 275px;
    padding: 49px 63px 36px 32px;
    transition: 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.card.active {
    transform: translateY(0);
}

.card img {
    width: 90px;
    height: auto;
    border-radius: 10px;
}



.card-announce-contract-postedAT {
    display: block ruby;
    font-weight: 400;
    color: var(--dark-grey);
}

.dot {
    font-size: var(--h1);
    color: var(--dark-grey);
}

.card-announce-position {
    font-weight: 700;
    color: var(--very-dark-blue);
}


.card-announce-company {
    font-weight: 400;
    color: var(--dark-grey);
}

.card-announce-location {
    font-weight: 700;
    font-size: 14px;
    color: rgba(89, 100, 224, 1);
}

.delete-update {
    position: absolute;
    display: flex;
    gap: 3rem;
    bottom: 40px;
    left: 220px;
}

.delete {
    width: 30px;
    cursor: pointer;
}

.update {
    width: 35px;

}