.App {
    height: 100%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 13px;
        /* ajuste la taille de la police pour les écrans plus grands */
    }


}