.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    column-gap: 6%;
    row-gap: 6rem;
    width: 100%;
    max-width: 1400px;
    transition: all 0.5s ease-in-out;
    min-height: auto;
    margin-top: 5.8rem;
}

.btn-center {
    display: flex;
    justify-content: center;
    padding: 106px;
}



@media (max-width:1130px) {
    .cards {
        grid-template-columns: 1fr;
        min-width: 300px;
    }

}